{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .task_name {
        text-decoration: none;
        color: #000;
    }
    
    .task_name:hover {
        color: #333;
    }

    .done {
        color: green;
        text-decoration: line-through;
    }

    .done:hover {
        color: #0b400e;
        text-decoration: line-through;
    }
</style>

<div class="example-wrapper">
    <h1>Todo list</h1>

    <ul>
    {% for item in list_items %}
    	{% if item.getIsDone %}
    		<a href="/list/item/description/{{ item.getId }}" class="task_name done"><li>{{ item.getName }}</a>
            <form action="/list/item/delete/{{ item.getId }}" method="POST">
                <input type="submit" name="delete" value="delete" class="btn btn-danger">
            </form> 
    	{% else %}
    		<a href="/list/item/description/{{ item.getId }}" class="task_name"><li>{{ item.getName }}</a> 
            
            <form action="/list/item/done/{{ item.getId }}" method="POST">
                <input type="submit" name="done" value="done" class="btn btn-primary">
            </form>

            <form action="/list/item/delete/{{ item.getId }}" method="POST">
                <input type="submit" name="delete" value="delete" class="btn btn-danger">
            </form>
    	{% endif %}
    {% endfor %}
    <br>
    <form action="/list/item/add" method="POST">
    	<label for="task_name">Task name: </label> <input type="text" placeholder="new task" id="task_name" name="task_name" required>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Description: </span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="task_description"></textarea>
        </div>
    	<br><input type="submit" value="Add">
    </form>
    </ul>
</div>
{% endblock %}
