{% extends 'base.html.twig' %}

{% block title %} Description - page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .description { word-break: break-all; }
</style>

<div class="example-wrapper">
	<h1>{{ name }}</h1>
	<p class="description">{{ description }}</p>
	{% if isDone %}
		<a href="/list/item/resetDone/{{ task_id }}" class="btn btn-primary">Reset</a>
	{% else %}
		<a href="/list/item/done/{{ task_id }}" class="btn btn-primary">Done</a>
	{% endif %}
	<a href="/list/item/delete/{{ task_id }}" style="float: right" class="btn btn-danger">Delete</a>
</div>
{% endblock %}
