{% extends 'base.html.twig' %}

{% block title %} Description - page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .description { word-break: break-all; }
    input[name="delete"] { float: right; }
</style>

<div class="example-wrapper">
	<h1>{{ name }}</h1>
	<p class="description">{{ description }}</p>
	{% if isDone %}
		<form action="/list/item/resetDone/{{ task_id }}" method="POST">
			<input type="submit" name="resetDone" value="Reset" class="btn btn-primary">
		</form>
	{% else %}
		<form action="/list/item/done/{{ task_id }}" method="POST">
			<input type="submit" name="done" value="Done" class="btn btn-primary">
		</form>
	{% endif %}
	<form action="/list/item/delete/{{ task_id }}" method="POST">
		<input type="submit" name="delete" value="Delete" class="btn btn-danger">
	</form>
	<a href="/" class="btn btn-secondary">Back</a>
</div>
{% endblock %}
